{% extends 'base.html' %}
{% load staticfiles %}
{% load  bootstrap4%}
{% block styles %}
{% bootstrap_css %}
<link rel="stylesheet" href="{% static 'css/card.css' %}">
{% endblock %}

{% block content %}
{% for article in articles %}
<title>Home-Baseline Magazine</title>
	<div class="col col-xl-4"></div>
		<div class="shadow-sm">
			<div class="card shadow-sm">
				<div class="card-header justify-content-center" id="article-img" style="background-image: url('{{article.article_image.url}}');height: 480px;background-position: center;background-size: cover;"></div>
				<div class="card-body" style="height: 400px;">
					<h4 class="card-title">{{article.title}}</h4>
					<h6 class="text-muted card-subtitle mb-2"> Posted on {{article.pub_date}} </h6>
					<p class="card-text">{% autoescape on %}{{article.post|truncatechars:150 |safe}}{% endautoescape %}</p><a class="card-link" href="/article/{{article.id}}" data-bs-hover-animate="pulse">Read more</a>
					<a
						class="card-link justify-content-around align-self-baseline" href="#">Like</a>
				</div>
			</div>
		</div>
	</div>
{% empty %}
	<h2 class="text-center text-primary">Oops.There is nothing here</h2>
{% endfor %}
{% if articles.has_other_pages %}
<div>
  <nav aria-label="Page navigation conatiner"></nav>
  <ul class="pagination justify-content-center float-left" style="position: relative; left: 45%;">
    {% if articles.has_previous %}
    <li><a href="?page={{ articles.previous_page_number }}" class="page-link" style="margin-right: 10px;">&laquo; PREV </a></li>
	{% endif %}
	<li><a class="page-link disabled" style="margin-right: 10px;">{{ articles.number}} of {{articles.paginator.num_pages}}</a></li>
    {% if articles.has_next %}
    <li><a href="?page={{ articles.next_page_number }}" class="page-link"> NEXT &raquo;</a></li>
   {% endif %}
  </ul>
  </nav>
</div>
{% endif %}
{% endblock %}
