<!DOCTYPE html>
<html>
{% load static %}
{% block styles %}
<link rel="stylesheet" href="{% static 'css/navbar.css'%}">
{% endblock %}
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
</head>

<body>
    <nav  class="navbar navbar-light navbar-expand-md text-light justify-content-between form-inline">
        <div style="width: 100%; height: auto;" class="container-fluid" >
            <a class="navbar-brand text-uppercase" href="/" style="color: rgb(255, 255, 255); position: relative; left: 0 !important; font-size: auto;">Baseline</a>
            <form class="nav navbar-nav" role="search" action="{% url 'search_results' %}">
                <input class="nav navbar-nav form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name="q">
              </form>
              {% if user.is_authenticated %}
                <div class="nav navbar-nav log" style="margin-left: 10px;">Logged in as {{user.username}}</div>
              {% else %}
                <div class="nav navbar-nav log" style="margin-left: 10px;">Logged out</div>
              {% endif %}
            <button class="navbar-toggler bg-light" data-toggle="collapse" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span>
            </button>
            {% if user.is_authenticated %}
            <div class="collapse navbar-collapse" id="navcol-1">
                <ul class="nav navbar-nav ml-auto">
                    <li class="nav-item dropdown"><a class="dropdown-toggle nav-link flex-row flex-grow-1 flex-fill" data-toggle="dropdown" aria-expanded="false" href="#" style="color: rgb(255, 255, 255); margin-right: 70px;">Profile</a>
                        <div class="dropdown-menu border rounded shadow-sm flex-column" role="menu"
                            style="margin: 20px 0px 10px 0px;">
                            <h6 class="dropdown-header" role="presentation">Account actions</h6><a class="dropdown-item" role="presentation" href="{% url 'new_article' %}">Write</a>
                            <a class="dropdown-item" role="presentation" href="{% url 'profile' %}">Profile</a>
                            
                            <a class="dropdown-item" role="presentation" href="/accounts/password/change">Change password</a>
                            <div class="dropdown-divider" role="presentation"></div><a class="dropdown-item" role="presentation" href="/admin/">Admin</a><a class="dropdown-item" role="presentation" href="/logout/">Logout</a></div>
                    </li>
                </ul>
            </div>
            {% else %}
            <div class="collapse navbar-collapse" id="navcol-1" style="margin-right: 100px;">
                <ul class="nav navbar-nav ml-auto">
                    <li class="nav-item dropdown"><a class="dropdown-toggle nav-link flex-row flex-grow-1 flex-fill" data-toggle="dropdown" aria-expanded="false" href="#" style="color: rgb(255, 255, 255);  margin-right: 70px;">Profile</a>
                        <div class="dropdown-menu border rounded shadow-sm flex-column" role="menu"
                            style="margin: 20px 0px 10px 0px;">
                            <h6 class="dropdown-header" role="presentation">Account actions</h6>
                            <div class="dropdown-divider" role="presentation"></div><a class="dropdown-item" role="presentation" href="/accounts/login">Login</a><a class="dropdown-item" role="presentation" href="/signup/">Register with profile</a><a class="dropdown-item" role="presentation" href="/accounts/register/">Register</a><a class="dropdown-item" role="presentation" href="/admin/">Admin</a></div>
                    </li>
                </ul>
            </div>
            {% endif %}
            
        </div>
    </nav>
</body>

</html>