<div class="col col-md-12">

        <div class="card my-4">
          <h5 class="card-header">Search</h5>
          <div class="card-body">
			<form action="{% url "search_results" %}" method="get">
				<div class="input-group">
              		<input type="text" name="q" class="form-control" placeholder="Search for...">
              		<span class="input-group-append">
                <button class="btn btn-secondary" type="submit">Go!</button>
              </span>
            </div>
			</form>
            
          </div>
        </div>

        <!-- Categories Widget -->
        <div class="card my-4">
          <h5 class="card-header">Top writers</h5>
          <div class="card-body">
            <div class="row">
              <div class="">
                <ul class="list-unstyled mb-0">
                  <li>
                    <a href="#">Mia cwilv</a>
                  </li>
                  <li>
                    <a href="#">Coco cwilv</a>
                  </li>
                  <li>
                    <a href="#">Miha cwilv</a>
                  </li>
                </ul>
              </div>
              <div class="">
                <ul class="list-unstyled mb-0">
                  <li>
                    <a href="#">My drug dealer</a>
                  </li>
                  <li>
                    <a href="#">Miss honey</a>
                  </li>
                  <li>
                    <a href="#">Huan huan</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
		</div>
		<div class="card my-4">
			<h5 class="card-header">Categories</h5>
			<div class="card-body">
			  <div class="row">
				<div class="">
				  <ul class="list-unstyled mb-0">
					<li>
					  <a href="#">How To's</a>
					</li>
					<li>
					  <a href="#">DIY</a>
					</li>
					<li>
					  <a href="#">Hacks</a>
					</li>
				  </ul>
				</div>
				<div class="">
				  <ul class="list-unstyled mb-0">
					<li>
					  <a href="#">Programming</a>
					</li>
					<li>
					  <a href="#">Sporting</a>
					</li>
					<li>
					  <a href="#">Robbing</a>
					</li>
				  </ul>
				</div>
			  </div>
			</div>
		  </div>

</div>
		  <!-- Search Widget -->

