    nav{
      color: rgb(255, 255, 255);
      -webkit-box-shadow: 0px 0px 12px 0px rgba(179,179,179,1);
      -moz-box-shadow: 0px 0px 12px 0px rgba(179,179,179,1);
      box-shadow: 0px 0px 12px 0px rgba(179,179,179,1);
      background-color:rgb(4, 18, 26);
    }
    nav a{
        color: white;
    }
    .dropdown-menu {
    left: 40%;
    right: auto;
    text-align: center !important;
    transform: translate(0%, 0);
    }
    .form-control{
		float: left;
        position: relative;
        left: 0;
        height: 40px;
        border-radius: 0;
        margin-bottom: 0 !important;
        border: 0;
        width: 350px !important;
        background-color: transparent;
        font-size: 120%;
        padding: 10px;
	}
	textarea:hover, 
	input:hover, 
	textarea:active, 
	textarea:focus, 
	input.form-control:focus,
	button:focus,
	button:active,
	button:hover,
	label:focus,
	.btn:active,
	.btn.active
{
    outline:0px !important;
    -webkit-appearance:none;
    box-shadow: none !important;
    background-color: transparent !important;
    color: white !important;
    border-bottom: 2px solid wheat;
}
    @media (max-width: 700px) { 
	.navbar-brand{
		display: none;
	}
	.form-control{
		float: left;
        position: relative;
        left: 0;
        height: 40px;
        border-radius: 0;
        margin-bottom: 0 !important;
        border: 0;
        width: 300px !important;
        background-color: transparent;
        font-size: 120%;
        padding: 10px;
    }
   
 }
 @media (min-width: 700px) { 
    .dropdown-menu{
        left: 40% !important;
        right: auto !important;
        text-align: center !important;
        transform: translate(-50%, 0) !important;
        }
        .navbar-collapse{
            position: relative;
            margin-right: 0 !important;
        }
        .log{
            width: 400px !important;
        }
 }
 
.nav a{
	color: black;
}