.profile-back {
	background-color: #9b1f1f;
	height: 150px;
	margin-bottom: -75px;
	border-top-right-radius: 20px;
	border-top-left-radius: 20px;
  }
  
  .profile-pic {
	width: 150px;
	height: 150px;
	margin-bottom: 10px;
	position: relative;
	left: 42%;
  }
  
  .profile-card {
	text-align: center;
	margin-bottom: 15px;
	border: 1px solid #9b1f1f;
	border-radius: 20px;
  }
  
  .profile-name {
	background-color: #9b1f1f;
	color: #fff;
	font-family: 'Actor', sans-serif;
	font-size: 16px;
	font-weight: bold;
	padding: 5px 0;
	border-radius: 100px;
	max-width: 300px;
	margin: 0 auto 10px auto;
  }
  
  .profile-card .social-list {
	list-style: none;
	padding: 0;
	margin-bottom: 20px;
  }
  
  .profile-card .social-list li {
	display: inline;
	margin: 0 5px;
	/*background-color: #9b1f1f;*/
	/*color: #fff;*/
	/*padding: 10px;*/
	/*border-radius: 100%;*/
  }
  
  .profile-bio {
	margin-bottom: 10px;
	padding: 10px;
  }
  
  .profile-card .social-list li i {
	background-color: #9b1f1f;
	color: #fff;
	padding: 10px 11px;
	border-radius: 100%;
  }
  
  .wrapper {
	position: relative;
	width: 80%;
	left: 10%;
	margin-top: 5%;
  }
  
  .btn.btn-light.btn-sm.border.rounded-0.switchhover1 {
	position: relative;
	width: 25%;
	left: 37.5%;
  }
  
  .switchhover1 {
	text-align: center;
	background-color: #27be01;
	border-width: 0px;
	/*padding: 30px;*/
	width: 200px;
	height: 50px;
	color: #ffffff;
	font-size: 24px;
	/*float: left;*/
	margin-left: 0px;
	border-radius: 0px 0px 0px 0px;
	-webkit-box-shadow: 0px 6px 0px -189px rgba(0,0,0,0);
	-moz-box-shadow: 0px 6px 0px -189px rgba(0,0,0,0);
	box-shadow: 0px 6px 0px -189px rgba(0,0,0,0);
	-webkit-transition: 1s;
	transition: 1s;
  }
  
  .switchhover1:hover {
	text-align: center;
	border-width: 0px;
	background-color: #ffffff;
	/*padding: 30px;*/
	height: 50px;
	width: 300px;
	/*float: right;*/
	color: #27be01;
	/*font-size: 30px;*/
	margin-left: 0px;
	border-radius: 0px 0px 0px 0px;
	-webkit-box-shadow: 0px 6px 29px 8px rgba(0,0,0,0.3);
	-moz-box-shadow: 0px 6px 29px 8px rgba(0,0,0,0.3);
	box-shadow: 0px 6px 29px 8px rgba(0,0,0,0.3);
	-webkit-transition: 1s;
	transition: 1s;
  }
  
  @media (max-width: 640px) { 
	.profile-pic{
		position: relative;
		left: 35%;
	}
	
 }