{% extends 'base.html' %}
{% load static %}
{% load  bootstrap4%}
{% block styles %}
{% bootstrap_css %}
<link rel="stylesheet" href="{% static 'css/new_article.css' %}">
{% endblock %}

{% block content %}
  <title>New Article</title>
  {{form.media}}
</head>

<body class="">
  <div class="col">
    <form  action="{%url 'new_article'%}" method="post" enctype="multipart/form-data">
    {%csrf_token%}
    {% bootstrap_form form%}
    <input type="submit" class="post btn btn-success btn-lg" value="Post">
  </form>
  </div>
</body>
</html>
{% endblock %}