{% extends 'base.html' %}
{% load static %}
{% load  bootstrap4%}
{% block styles %}
{% bootstrap_css %}
<link rel="stylesheet" href="{% static 'css/card.css' %}">
{% endblock %}

{% block content %}
<div class="container">
	{% if articles %}
	<h2 class="text-center">Found {{articles|length}} results for query '{{message}}'</h2>
	{% endif %}
</div>
{% for article in articles %}
<div class="card mb-4">
	<div style="height: 300px; background-image: url('{{article.article_image.url}}'); background-size: cover; background-position: center;"></div>
  <div class="card-body">
	<h2 class="card-title">{{article.title}}</h2>
	<p class="card-text">{{article.post | safe}}</p>
	<a href="{% url "article" article.id %}" class="btn btn-primary">Read More &rarr;</a>
  </div>
  <div class="card-footer text-muted">
	Posted on {{article.pub_date}} by
	<a href="#">{{article.editor}}</a>
  </div>
</div>
{% empty %}
<div class="div">
	<h2 class="text-center text-primary" >Oops.There is nothing here</h2>
</div>
{% endfor %}
{% endblock %}

{% block scripts %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
{% bootstrap_javascript %}

{% endblock %}
