{% extends 'base.html' %}
{% load staticfiles %}
{% load  bootstrap4%}
{% block styles %}
{% bootstrap_css %}
<link rel="stylesheet" href="{% static 'css/card.css' %}">
{% endblock %}

{% block content %}
<div class="container">
	{% if articles %}
	<h2 class="text-center">Found {{articles|length}} for query '{{message}}'</h2>
	{% endif %}
</div>
{% for article in articles %}
	<div class="col col-xl-4"></div>
		<div class="shadow-sm">
			<div class="card shadow-sm">
				<div class="card-header justify-content-center" id="article-img" style="background-image: url('{{article.article_image.url}}');height: 480px;background-position: center;background-size: cover;"></div>
				<div class="card-body" style="height: 400px;">
					<h4 class="card-title">{{article.title}}</h4>
					<h6 class="text-muted card-subtitle mb-2">Posted on {{article.pub_date}}</h6>
					<p class="card-text">{% autoescape on %}{{article.post |safe |truncatechars:150}}{% endautoescape %}</p><a class="card-link" href="/article/{{article.id}}" data-bs-hover-animate="pulse">Read more</a>
					<a
						class="card-link justify-content-around align-self-baseline" href="#">Like</a>
				</div>
			</div>
		</div>
	</div>
{% empty %}
<div class="div">
	<h2 class="text-center text-primary" >Oops.There is nothing here</h2>
</div>
{% endfor %}
{% endblock %}

{% block scripts %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
{% bootstrap_javascript %}

{% endblock %}
