{% extends 'base.html' %}
{% load bootstrap4 %}
{% load static %}

{% block styles %}
{% bootstrap_css %}
<link rel="stylesheet" href="{% static 'css/update_profile.css' %}">
{% endblock %}
{% block scripts %}
{% bootstrap_javascript %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
{% endblock %}
{% block content %}
<form action="" method="post" enctype="multipart/form-data">
	{% csrf_token %}
	{{form.media}}
	{% bootstrap_form form %}
	<button class="btn btn-primary" type="submit">Update</button>
</form>
{% endblock %}